body * {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.img-nav {
    left: 129px;
    width: 43px;
}

.texto-blanco {
    color:white;
}

.fondo-calipso {
    background-color: cadetblue;
}

.icono {
    color :white;
}


