body * {
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.img-nav {
    left: 129px;
    width: 43px;
}

.texto-blanco {
    color:white;
}

.fondo-calipso {
    background-color: cadetblue;
    background-color:#0DCAF0;
}

.texto-14px{
    font-size:14px;
}
.icono {
    color :white;
}

.img-ancho-alto{
    width: 100%;
    height:auto;
}
